<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- path is relative to current file -->
    <% include partials/_header %>
  </head>
  <body>
    <% for (var shortURL in urls){
      var longURL = urls[shortURL]; %>
<li> <%= shortURL %> - <%= longURL %>
  <form method="POST" action="/urls/<%=shortURL%>?_method=DELETE">
      <button name="delete" type="submit">DELETE</button>
  </form>
  <form method="GET" action="/urls/<%=shortURL%>">
    <button name="edit" type="submit">EDIT</button>
  </form>

</li>
<%}%>


  </body>
</html>