<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- path is relative to current file -->
    <% include partials/_header %>
  </head>
  <body>
    <% for (var shortKey in urls){
      var longURL = urls[shortKey]; %>

    <form method="POST" action="/urls/<%=shortKey%>?_method=DELETE">
      <li> <%= shortKey %> - <%= longURL %> <button name="delete" type="submit">DELETE</button> </li>
    </form>

    <%}%>


  </body>
</html>