<!DOCTYPE html>
<html lang="en">
  <head>
  <% include partials/_header %>
  </head>

  <body>

    <a href="/urls/new">Make a new shorty</a>

    <% for (var shortURL in urls){
      var longURL = urls[shortURL]; %>
      <ul><%= shortURL %> - <%= longURL %>
        <form method="POST" action="/urls/<%=shortURL%>?_method=DELETE">
            <button name="delete" align="right" type="submit">DELETE</button>
        </form>
      <a href="/urls/<%=shortURL%>">Edit</a>
      </ul>
    <%}%>

  </body>
</html>