<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- path is relative to current file -->
    <% include partials/_header %>
  </head>
  <body>
    <% for (var shortURL in urls){
      var longURL = urls[shortURL]; %>

    <form method="POST" action="/urls/<%=shortURL%>?_method=DELETE">
      <li> <%= shortURL %> - <%= longURL %>
        <button name="delete" type="submit">DELETE</button>
        <a href="http://localhost:8080/urls/<%=shortURL%>">edit</a>
      </li>
    </form>

    <%}%>


  </body>
</html>